.cards
	+columns(2)
	justify-content: center
	margin: 10px 0 15px

.card
	border: 1px solid $muted
	border-radius: 8px
	padding: 10px
	position: relative
	&__wrapper
		padding: 0 10px
	&__close__icon
		+position(0, 0)
		color: $muted
		cursor: pointer
		padding: 7px