input,
select,
textarea
	&:focus
		outline: none

.form__default
	+flex(center, center, column)
	min-width: 400px
	&__input,
	&__select
		border: 1px solid $dark
		border-radius: 8px
		font-size: 1.2rem
		margin-bottom: 10px
		padding: 10px 15px
		width: 100%
		&:disabled
			border-color: $muted
			color: $muted
	&__buttons
		+columns(3)
		width: 100%
	&__button__wrapper
		padding: 0 5px